.cards__list {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}

.cards__image {
  width: 100%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.cards__title {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  word-wrap: break-word;
  height: 35px;
}

.cards__content-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}


@media only screen and (max-width: 913px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 700px) {
  .cards__list {
    grid-template-columns: repeat(1, 1fr);
  }
}